body{
   font-family: Muli,sans-serif!important;
}
*{
    padding: 0;
    margin: 0;
}
.container{
    position: fixed;
    width: 100%;
    top: 58px;
    padding: 0;
    border-bottom: 1px solid #e6e6e6;
    /* box-shadow: 0 4px 7px -3px rgb(0 0 0 / 10%); */
    display: flex;
    background: #fafafa;
}
.hide{
    display: flex;
    padding: 0 8px;
    width: 14%;
    margin-left: 10.2%;
    justify-content: space-evenly;
}
.hidden{
    width: 50%;
    display: flex;
    padding: 0 8px;
    justify-content: space-around;
    margin-left: 30%;
    margin-right: 12.5%;
}
.link{
    text-decoration: none;
    cursor: pointer;
    color: #717171;
    font-size: 13px;
    font-weight: 100;
    padding: 15px 0;
}
#main_img img{
    /* border: 1px solid rgb(48, 34, 197); */
    /* width: ; */
    box-sizing: border-box;
    width: 1050px;
    height:570px;
}
#big_img{
    width: 70%;
    height: 550px;
}
#main_con{
    display: flex;
    margin-top: 105px;
}
#content{
    /* border: 1px solid; */
    width: 30%;
    /* margin-left: 45%; */
    /* position: fixed; */
 } 
 #pr{
    /* margin-top: 15%; */
    /* border: 1px solid lightblue; */
    padding: 5%;
    /* background-color: ; */
 }
 .paisa{
   height: 20px;
   width: 50%;
   border: 1px solid #e6e6e6;
   /* text-align:justify; */
   padding: 40px;
   border-radius: 4px 4px 0 0;
 }
 .din{
   width: 256px;
   /* height: 2px; */
   font-size: 10px;
    /* display: -ms-flexbox; */
    /* display: flex; */
    padding:10px;
    text-align: center;
    border: 1px solid #e2eaf0;
    border-top: 0;
    border-radius: 0 0 4px 4px;
 }
 .btn1{
   margin: 10px 0 15px;
   border-radius: 4px;
   border: 1px solid #1dbdc0;
   color: #1dbdc0;
   background: #fff;
   box-shadow: none;
   display: block;
   font-weight: 700;
   font-size: 12px;
   width: 80%;
   margin-left: 24px;
   padding: 10px 20px;
 }

 .btn{
    display: none;
 }

 #btn_div{
    display: flex;
    width: 80%;
    margin-left: 21px;
    justify-content: space-between;
   margin-top: 10px;
   }
 #btn_div>button{
    font-size: 20px;
    margin-left: 2%;
    margin-bottom: 5%;
 }
 .super_active{
   /* border: 1px solid #dc3226; */
   border: transparent;
   background: #dc3226;
   color: #fff;
   right: 0;
   font-size: 15px;
    font-weight: 400;
    height: 50px;
    bottom: 10px;
    text-transform: inherit;
    width: 100%;
    display: block;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
 }
 .small_active{
    /* border: 1px solid red; */
    /* padding: 5%; */
    border: 1px solid #dc3226;
   background: #fff;
   color: #dc3226;
   font-size: 15px;
    font-weight: 400;
    height: 50px;
    bottom: 10px;
    text-transform: inherit;
    width: 100%;
    display: block;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
 }
 /* #bottom_image_box{
    margin-top: 25%;
    border: 1px solid rgb(0, 255, 21);
 }
 #small_img_div>img{
    margin-top: 25%;
    width: 350px;
    height: 350px;
    border: 1px solid red;
 } */
 
 #small_img_div{
    /* border: 1px solid red; */
    margin-left: 15%;
    width: 350px;
    height: 350px;
 }


#main_content h1{
   color: #313131;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 5px;
    position: relative;
    padding: 15px 25px;
}
.hwl{
   padding: 10px 25px;
   font-size: 13px;
    text-align: left;
    color: #313131;
    font-weight: 400;
    /* background-color: #cdcdcd; */
    background: #fafafa;
    /* display: -ms-flexbox; */
    /* display: flex; */
    /* -ms-flex-pack: justify; */
    /* justify-content: space-between; */
}
.myslider {
   border-radius: 15px;
   -webkit-appearance: none;
   opacity: 2;
   height: 100%;
   top: 0px;
   left: 0%;
   width: 80%;
   transition-property: width, left;
   transition-duration: 0.5s;
   background-color: rgb(255, 91, 93);
   align-items: center;

   margin-top: 30px;
   margin-bottom: 25px;

   margin-left: 6%;
   margin-right: 10%;

   height: 4px;
}

.myslider::-webkit-slider-thumb {
   -webkit-appearance: none;
   cursor: pointer;
   width: 20px;
   height: 20px;
   border: 3px solid rgb(255, 91, 93);
   background: #ffffff;
   border-radius: 50%;
   box-shadow: none;
}
 
 
.myslider:hover {
   opacity: 1;
}
.p2{
   color: #717171;
    font-family: Muli;
    font-size: 12px;
    margin-left: 26px;
}
#do_not_chng{
   background: #dc3226;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    width: 80%;
   margin-left: 24px;
    margin-top: 5px;
    border: transparent;
    padding: 15px 10px;
    right: 0;
    text-transform: inherit;
}
.btnBW{
   
}