#footer{
  padding: 50px 0px 20px;
  background-color: #f5f7fa;
  display: block;
}
/* .main_box_foot{
  margin-top: 5%;
  display: flex;
}
.first_col{
  display: grid;
  grid-template-columns: repeat(1,150px);
  margin-left: 15%;
    
}
.first_col>h2{
  font-size: 20px;
  color: black;
  font-size: 15px;
  text-decoration: none;
  font-weight: 250px;
  padding: 15px 0px; 
}
.first_col>a{
  color: #434343;
  font-size: 13px;
  text-decoration: none;
  font-weight: 100;
  padding: 15px 0px; 
} */
.main_box_foot{
  /* border: 2px solid; */
  /* padding: 15%; */
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.main_box_foot h2{
  font-size: 20px;
  color: black;
  font-size: 15px;
  text-decoration: none;
  font-weight: 250px;
  padding: 15px 0px; 
}
.main_box_foot a{
  /* border: 1px solid; */
  display: block;
  color: #434343;
  font-size: 13px;
  text-decoration: none;
  font-weight: 100;
  margin: 10px 10px 10px 0px;
  list-style: none;
  cursor: pointer;
}
.main_box_foot button{
  border: 1px solid #313131;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  max-width: 184px;
  text-align: left;
  display: -ms-flexbox;
  display: flex;
  color: #434343;
}
.tele{
  display: flex;
}
.tele img{
  width: 18px;
  height: 18px;
  margin-top: 12px;
  margin-right: 20px;
  color: #434343;
}
.dpic{
  display: flex;
  /* justify-content: space-evenly; */
}
/* .dpic img{
  background-position: 0 -958px;
  background-repeat: no-repeat;
  width: 110px;
  height: 32px;
}  */
.dpicP{
  height: 38px;
  width: 110px;
  margin-right: 5px;
  margin-left: -5px;
}
.dpicA{
  margin-top: -0.4em;
  /* height: 50px;
  width: 110px; */
  height: 50px;
  width: 96px;
}
.line{
  border-bottom: 1px solid #e6e6e6;
  width: 70%;
  margin: auto;
  margin-top: 40px;
}
.last{
  display:flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 30px;
}
.ltd{
  text-align: start;
}
.ltd p{
  color: #717171;
  font-size: 12px;
  margin: 0;
  text-align: left;
  margin: 15px 0;
  font-weight: 400;
}
.smbl{
  display: flex;
  margin-top: 10px;
}
.smbl a{
  color: #fafafa;
  border: 1px solid #717171;
  background: #f5f7fa;
  border-radius: 50%;
  width: 40px;
  display: block;
  color: #717171;
  -ms-transform: scale(.8);
    transform: scale(.8);
    padding: 5px;
}
.gup{
  margin-top: 22px;
}
.gup a{
  display: flex;
  color: #717171;
  font-size: 12px;
  font-weight: 400;
}
.gup p{
  color: #717171;
  font-size: 12px;
  text-align: left;
  margin: -5px 5px 0px 0px;
  font-weight: 400;
}

#footer_import{
  margin-top: 5%;
  /* position: fixed; */

}